<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8">
<title>Insert title here</title>
</head>
<body>

	<footer class="ftco-section services-section mt-3" style="background-color: #207dff;height: 100px;"  >
		<div class="container">
			<div class="row">
				<div class="col-md-7">
					<div class="custom-breadcrumbs">
						<h5 class="my-3" style="color: white;">&copy; Making 2024 - Fx20125</h5>
					</div>
				</div>
			</div>
		</div>
	</footer>
</body>
</html>