<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns="http://www.w3.org/1999/xhtml" lang="en"
	xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
<meta charset="utf-8">
<title>Active account</title>
<link href='http://fonts.googleapis.com/css?family=Roboto'
	rel='stylesheet' type='text/css' />
<style>
body {
	font-family: 'Roboto', sans-serif;
	font-size: 48px;
}
</style>
</head>
<body>
	<p th:text="${'Xin chào, ' + name}"></p>
	<p>Chúng tôi gửi thông để hệ thống cập nhật hoạt động của bạn:</p>
	<p
		th:text="${'- Trạng thái hoạt động của bạn đã được kích hoạt : ' + status}"></p>
	<hr>
	<p>Đây là email tự động vui lòng không trả lời.</p>

</body>
</html>